.container2 {
	width:50%;
}
body {
	background-color:#c0dfe6; 
	color:#111819;
}
.navbar-light .navbar-brand:hover {
	color:blue;
}
input {
	margin: 10px 10px;
}
.logout {
	display: inline-block;
	text-align: right;
	margin:0px;
}
.box {
	border:1px solid grey;
}

.content {
	display: inline-block;
	width:95%;
	height:100px;
	margin-top: 30px;
}
.submit {
	margin-top:0px;
	margin-bottom:10px; 
}
.contentarea {
	border:1px solid grey;
	width:50%;
	margin:15px auto;
}
div > .nickname {
	margin: 5px 10px;
}
div > .content {
	margin: 5px 10px;
	height: 30px;
}
.nickname {
	display: inline-block;
	width: 40%;
}
.time {
	display: inline-block;
	width: 50%;
	text-align: right;
	margin: 5px 10px;
}
.addcomments {
	margin:10px 25px;
	background: #ffe5bf; 
}
.littlebox {
	margin:10px 25px;
	background: #ffe5bf; 
}
.littlebox > form {
	display: none;
}
.openbox {
	width:50px;
	margin-left: 10px;
	color:#3e86bf;
}
.openbox:hover {
	cursor: pointer;
	color:darkblue;
}
.delete {
	display: inline;
	text-align: right;
}
.delete > input {
	margin: 0px;
}
.container {
	width:50%;
	margin: 20px auto;
	padding: 0px;
}
.navbar {
	justify-content: space-between;
}
.nav-item {
	margin-left: 15px;
}